.main-container{
    height: 100%;
    width: 100%;
    display: block;
    overflow: auto;
}

.main-container > div{
    min-height: 100%;
    width: 80%;
    max-width: 800px;
    margin: auto;
    background-color: #edf1f4;
    padding: 10px;
}

.post-list{
    margin: 0;
    padding: 15px;
}