.topbar{
    background-color: #353535;
    min-height: 30px;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topbar > h1{
    text-align: center;
    margin: auto;
    color: #ffffff;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-sh-button{
    height: 100%;
    width: 40px;
    font-size: 30px;
    margin-left: 10px;
    color: #fefefe;
    display: none;
}